.single-insta-post {
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #D0D0D0;
    margin-bottom: 20px;
}

.username-insta-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
}
.user-insta-left{
    display: flex;
    align-items: center;
    font-size: 14px;
    position: relative;
}

.user-insta-left img{
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.blue-check {
    position: absolute;
    top: 16px;
    left: 127px;
}

.user-insta-left{
    cursor: pointer;
}

/* USERNAME margin  */
.user-insta-left img:first-child {
    margin-right: 10px;
}

/* post delete dots btn  */
.username-insta-section img:nth-child(2) {
    width: 18px;
    height: 4px;
    margin-right: 10px;
    cursor: pointer;
}
.user-insta-img {
    position: relative;
}

.user-insta-img img{
    width: 475px;
    height: 500px;
    object-fit: cover;
    cursor: pointer;
}
.user-dot {
    top: 565px;
    left: 220px;
    position:absolute;
}
.user-next {
    top: 280px;
    left: 435px;
    position:absolute;
}
.interact-insta-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px;
    cursor: pointer;
}
.like-btn {
    font-size: 30px;
    margin-right: 7px;
    margin-top: 2px;
}
.like-filled {
    color: pink;
}
.interact-insta-left {
    display: flex;
    align-items: center;
}
.interact-insta-left img {
    margin: 0px 7px;
}
.interact-insta-left button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.comment-insta-container{
    width: 470px;
    padding: 0px 15px;
}
.comment-section-insta {
    display: flex;
    justify-content: space-between;
}
.comment-section-insta img {
    width: 13px;
    height: 14px;
}
.comment-insta-likes{
    font-size: 13px;
    margin: 4px 0px;
}
.caption-insta, .comment-user {
    font-size: 13.58px;
    margin-bottom: 6px;
}

.caption-insta{
    cursor: pointer;
}
.comment-text {
    font-weight: 300;
    font-size: 13.58px;
    margin-left: 5px;
}
.caption-insta span {
    font-weight: 300;
}
.translation-insta {
    font-size: 11.64px;
    margin-bottom: 6px;
}
.comment-count-insta{
    color: #8E8E8E;
    font-size: 12.61px;
    margin-bottom: 3px;
    font-weight: 100;
    cursor: pointer;
}
.add-comment{
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 20px;
    border: none;
    width: 430px;
}
.comment-section-insta::placeholder {
    color: #262626;
}
.added-comment-insta {
    margin: 2px 0px;
}
.delete-post-modal {
    cursor: pointer;
    width: 150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.delete-post-modal p:nth-child(1) {
    color: tomato;
}

@media screen and (max-width: 830px) {
.single-insta-post{
    width: 477.4px;
    margin: 10px -7%;
}
}


@media screen and (max-width: 509px) {
  .single-insta-post{
    width: 410.4px;
   margin-right: 10px;
}


.user-insta-img img{
    width: 405px;
    /* height: auto; */
    object-fit: cover;
    cursor: pointer;
}

.add-comment{
     width: 380px;
}

.comment-section-insta{
    width: 380px;
}

.caption-insta, .comment-user {
    font-size: 13.58px;
    width: 90%;
}

.caption-insta span {
    font-weight: 300;
    font-size: 13px;
}

}

@media screen and (max-width: 430px){
      .single-insta-post{
    width: 380px;
   margin-right: 10px;
}

.user-insta-img img{
    width: 380px;
    /* height: auto; */
    object-fit: cover;
    cursor: pointer;
}

.add-comment{
     width: 360px;
}

.comment-section-insta{
    width: 360px;
}

.caption-insta, .comment-user {
    width: 80%;
}
}