.suggest-bot {
    display: flex;
    flex-direction: column;
}
.suggest-container {
    border: 2px solid;
    display: flex;
    flex-direction: column;
    width: 470px;
    background-color: #FFFFFF;
    padding: 30px 0px 20px 0px;
}
.suggest-box {
    width: 180px;
    height: 210px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    margin: 0 auto;
    position: relative;
}
.x {
    position: absolute;
    top: 11px;
    left: 158px;
}
.suggest-box img:last-child {
    height: 54px;
    width: 54px;
}
.blue-follow {
    background-color: #0095F6;
    color: #FFFFFF;
    font-size: 14px;
    width: 81px;
    height: 32px;
    border-radius: 8px;
    padding-top: 8px;
    font-weight: 600;
    margin: 0 auto;
}
.suggest-user {
    color: #262626;
}
.suggest-follow {
    color: #8E8E8E;
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 13px;
}
.suggest-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.suggest-text p:first-child {
    color: #8E8E8E;
    font-size: 14px;
}
.suggest-text p:last-child{
    color: #0095F6;
    font-size: 13px;
}
.suggest-users {
    display: flex;
}
