.collab-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 70px;
    border-bottom: 1px solid #EFEFEF;
    background-color: white;
    border-radius: 0px 4px 0px 0px; 
}
.collab-left {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.dots {
    height: 24px;
    margin-right: 10px;
    cursor: pointer;
}
.p-circle {
    border-radius: 20px;
    height: 37px;
    width: 37px;
    object-fit: cover;
    margin: 0px 12px 0px 14px;
}
.p-height {
    object-fit: cover;
    border: 1px solid white;
    border-radius: 13px;
}
.date {
    font-size: 11px;
    padding-top: 4px;
}

.darkpostUI {
  background-color: black;
  color: #eee;
  transition: background-color 1s ease; /* Adjust the duration and timing function as needed */
   /* border: 0.1px solid #606060;; */
   border: none;
}
