.ac-box {
    width: 500px;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    align-items: center;
    background-color: white;
    border-radius: 0px 0px 4px 0px; 
}
.ac-innerbox {
    display: flex;
    align-items: center;
    padding-top: 3px;
}
.ac-innerbox p {
    padding-top: 3px;
    color: #262626;
}
.ac-innerbox img {
    padding-right: 15px;
}
.post {
    color: #B3DBFF;
}