.comment-container {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
    position: relative;
    background-color: white;
}
.comment-left {
    display: flex;
}
.comment-left section {
    margin-top: 11px;
    padding-right: 50px;
}
.comment-container img {
    height: 32px;
    width: 32px;
    margin: 10px 15px;
    border-radius: 20px;
}
.delete-comment {
    position: absolute;
    left: 440px;
    top: 15px;
    cursor: pointer;
}
.user-pr {
    margin-right: 7px;
    cursor: pointer;
}
.hashtag {
    font-weight: 300;
    color: #00376B;
}
.actions {
   margin: 5px 0px;
   display: flex;
   margin-left: -5px;
}
.actions p {
    margin: 0px 5px;
    font-size: 12px;
    color: #8E8E8E;
}
.bold {
    font-weight: 400;
}

.darkcommentUI {
  background-color: black;
  color: #eee;
  transition: background-color 1s ease; /* Adjust the duration and timing function as needed */
}

@media screen and (max-width: 1000px) {
    .delete-comment {
        left: 410px;
    }
}
@media screen and (max-width: 888px) {
    .delete-comment {
        left: 320px;
    }
}
@media screen and (max-width: 735px) {
    .delete-comment {
        left: 430px;
    }
}
@media screen and (max-width: 684px) {
    .delete-comment {
        left: 420px;
    }
}
@media screen and (max-width: 670px) {
    .delete-comment {
        left: 400px;
    }
}
@media screen and (max-width: 645px) {
    .delete-comment {
        left: 380px;
    }
}
@media screen and (max-width: 610px) {
    .delete-comment {
        left: 360px;
    }
}
@media screen and (max-width: 580px) {
    .delete-comment {
        left: 340px;
    }
}
@media screen and (max-width: 550px) {
    .delete-comment {
        left: 320px;
    }
}
@media screen and (max-width: 520px) {
    .delete-comment {
        left: 300px;
    }
}
@media screen and (max-width: 490px) {
    .delete-comment {
        left: 330px;
    }
}
@media screen and (max-width: 470px) {
    .delete-comment {
        left: 320px;
    }
}
@media screen and (max-width: 450px) {
    .delete-comment {
        left: 310px;
    }
}
@media screen and (max-width: 435px) {
    .delete-comment {
        left: 300px;
    }
}
@media screen and (max-width: 420px) {
    .delete-comment {
        left: 290px;
    }
}
@media screen and (max-width: 405px) {
    .delete-comment {
        left: 280px;
    }
}
@media screen and (max-width: 395px) {
    .delete-comment {
        left: 270px;
    }
}
@media screen and (max-width: 378px) {
    .delete-comment {
        left: 265px;
    }
}
@media screen and (max-width: 370px) {
    .delete-comment {
        left: 250px;
    }
}
@media screen and (max-width: 355px) {
    .delete-comment {
        left: 237px;
    }
}
@media screen and (max-width: 338px) {
    .delete-comment {
        left: 230px;
    }
}
@media screen and (max-width: 325px) {
    .delete-comment {
        left: 220px;
    }
}
@media screen and (max-width: 315px) {
    .delete-comment {
        left: 210px;
    }
}
@media screen and (max-width: 300px) {
    .delete-comment {
        left: 200px;
    }
}
@media screen and (max-width: 285px) {
    .delete-comment {
        left: 190px;
    }
}
