.profile-image {
    width: 230px;
    height: 230px;
    object-fit: cover;
    border-radius: 150px;
    margin: 20px 0px;
}
.profile-container {
   margin-top: 70px;
   display: flex;
   align-items: center;
   flex-direction: column;
}
.profile-container p {
    margin: 1.5px 0px;
}
.user-settings {
    font-size: 2.5rem;
    cursor: pointer;
}
.user-settings:hover {
    color: rgb(0, 149, 246);
}
.settings-container {
    width: 200px;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.settings-container p {
   cursor: pointer;
   letter-spacing: 1px;
}
.settings-container p:hover {
    color: rgb(0, 149, 246);
 }

 .user-posts-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 100px;
 }
 
 .user-posts-container img {
   width: 300px;
   height: 300px;
   object-fit: cover;
   margin: 10px;
 }
