.header-main {
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 50px;
background-color: #FFFFFF;
border-bottom: 1px solid #D0D0D0;
position: relative;
}



.darkline{
   border-bottom: 0.1px solid #606060;
}

.hamburger-icon{
    display: none;
}

.hamburger-icon svg:hover{
   color: rgb(0, 149, 246);
}
.header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 9.1%;
}

.avatar {
    width: 40px;
    height: 40px; /* Add this line to set the height */
    object-fit: cover;
    border-radius: 50%;
}

.instagram-logo {
    margin-top: 6px;
    cursor: pointer;
}
.header-main section {
    position: relative;
    color:  #777777;
}
.search-icon {
    position: absolute;
    top: 11px;
    left: 15px;
    z-index: 1;
    color: #999999;
}
.header-main input {
    background-color: #EFEFEF;
    position: relative;
    border-radius: 8px;
    padding-left: 45px;
    border: none;
    height: 37px;
    width: 25vw;
    font-weight: 300;
    font-size: 16.8px;
}
.username{
    margin-left: 5px;
    cursor: pointer;
    color: #000;
}

.username:hover{
    color: rgb(0, 149, 246);
}
.avatar {
    cursor: pointer;
}


/* Add this to your existing CSS or create a new CSS file */
.modal-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.modal-content p {
  margin-bottom: 30px;
  color: #666;
}

.modal-content button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-content button:hover {
  background-color: #0056b3;
}


/* Add this to your existing CSS or create a new CSS file */
.images-for-store {
  display: flex;
  flex-direction: row;
  align-items: center; /* Center items vertically within the container */
  justify-content: space-evenly; /* Center items horizontally within the container */
  width: auto;
}

.images-for-store img {
  width: 140px; 
  height: auto;
  margin: 0 10px 20px 10px;
}


/* Add this to your existing CSS or create a new CSS file */

.logout-modal-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout-modal-content h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.logout-modal-content .buttons-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.logout-modal-content .cancel-button,
.logout-modal-content .logout-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-modal-content .cancel-button:hover,
.logout-modal-content .logout-button:hover {
  background-color: #0056b3;
}


@media screen and (max-width: 830px) {
.header-main {
padding: 15px 10px;
}

.hamburger-icon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
}

.hamburger-icon img{
     width: 36px;
    height: 36px; /* Add this line to set the height */
    object-fit: cover;
    border-radius: 50%;
     cursor: pointer;
}

.hamburger-icon svg{
    font-size: 1.8rem;
    cursor: pointer;
}

}

.darkUI {
  background-color: black;
  color: #eee;
  transition: background-color 1s ease;
}

.darktext h2, .darktext p{
  color: #fff;
}




@media screen and (max-width: 620px) {
.hamburger-icon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}
}


@media screen and (max-width: 509px) {
.header-main{
width: 100%;
}

}


@media screen and (max-width: 375px) {
.hamburger-icon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 55%;
}
}


