.header-main {
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 50px;
background-color: #FFFFFF;
border-bottom: 1px solid #D0D0D0;
position: relative;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 9.1%;
}

.avatar {
    width: 40px;
    height: 40px; /* Add this line to set the height */
    object-fit: cover;
    border-radius: 50%;
}

.instagram-logo {
    margin-top: 6px;
    cursor: pointer;
}
.header-main section {
    position: relative;
    color:  #777777;
}
.search-icon {
    position: absolute;
    top: 11px;
    left: 15px;
    z-index: 1;
    color: #999999;
}
.header-main input {
    background-color: #EFEFEF;
    position: relative;
    border-radius: 8px;
    padding-left: 45px;
    border: none;
    height: 37px;
    width: 25vw;
    font-weight: 300;
    font-size: 16.8px;
}
.username{
    margin-left: 5px;
    cursor: pointer;
    color: #000;
}

.username:hover{
    color: rgb(0, 149, 246);
}
.avatar {
    cursor: pointer;
}


@media screen and (max-width: 509px) {
.header-main{
width: 100%;
}

}


