.header-main {
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 50px;
background-color: #FFFFFF;
border-bottom: 1px solid #D0D0D0;
}
.header-right img{
    margin: 0px 5px;
    width: 30px;
}
.header-right {
    display: flex;
    align-items: center;
}
.instagram-logo {
    margin-top: 6px;
}
.header-main section {
    position: relative;
    color:  #777777;
}
.search-icon {
    position: absolute;
    top: 11px;
    left: 15px;
    z-index: 1;
    color: #999999;
}
.header-main input {
    background-color: #EFEFEF;
    position: relative;
    border-radius: 8px;
    padding-left: 45px;
    border: none;
    height: 37px;
    width: 25vw;
    font-weight: 300;
    font-size: 16.8px;
}
.username{
    margin-left: 5px;
    cursor: pointer;
}
.avatar {
    cursor: pointer;
}



