.main-box {
    display: flex;
    justify-content: center;
}

.darkUI{
  background-color: #121212;
  color: #eee;
}

.next-img {
    width: 45vw;
}
.post-main-image{
    object-fit: cover;
    width: 100%;
    object-position: center;
    height: 80vh;
}
/* Post.css */
.main-box {
    display: flex;
  }
.all-comments-container {
    margin-top: 10px; /* Adjust the margin as needed */
}
/* !! height of scroll container !!  */
.scrollable-comments {
    max-height: 55vh;
    overflow-y: auto; /* Enable vertical scrolling if the content exceeds the height */
}

  