.main-box {
    display: flex;
    justify-content: center;
}
/* .next-btn {
    position: absolute;
    top: 270px;
    left: 375px;
} */
.next-img {
    position: relative;
    /* border: 2px solid red; */
    width: 40vw;
}

.post-main-image{
    object-fit: cover;
    width: 100%;
    object-position: center;
    height: 65vh;
}
