
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {width: auto!important; overflow-x: hidden!important} 

a{
  text-decoration:none;
}

span {
    font-weight: 400;
}

/* p {
    font-weight: 300;
    font-size: 14px;
} */

img {
  -webkit-user-drag: none;
}

.spinner{
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 20%; */
padding: 20%;
}

.spinner-height{
  height: 100vh;
}

@media screen and (max-width: 830px) {

}
