.actions-container {
    /* border-top: 1px solid #EFEFEF; */
    padding: 10px 15px 0px 8px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    width: 500px;
}
.darkUI{
    background-color: #121212;
    color: #eee;
}
.actions-container img {
    height: 24px;
    cursor: pointer;
}
.act-spacing {
    display: flex;
    align-items: center;
}
.act-spacing svg{
    cursor: pointer;
}
.action-data {
    padding: 2px 5px 15px 15px;
    width: 500px;
}
.action-data p:nth-child(2) {
    padding-top: 5px;
}
.lighter-info {
    font-size: 10px;
    color: #8E8E8E;
    margin: 7px 0px 0px 0px;
}
.ac-box {
    border-top: 1px solid #EFEFEF;
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    align-items: center;
    padding-top: 3px;
}
.ac-box img {
    padding-right: 10px;
}
.ac-box button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.ac-box button:hover {
    color: rgb(0, 149, 246);
    cursor: pointer;
}
.post {
    color: #B3DBFF;
}