.actions-container {
    padding: 10px 15px 0px 8px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
}
.darkUI{
    background-color: #121212;
    color: #eee;
}
.actions-container img {
    height: 24px;
    cursor: pointer;
}
.act-spacing {
    display: flex;
    align-items: center;
}
.act-spacing svg{
    cursor: pointer;
}
.action-data {
    padding: 2px 5px 15px 15px;
}
.action-data p:nth-child(2) {
    padding-top: 5px;
}
.lighter-info {
    font-size: 10px;
    color: #8E8E8E;
    margin: 7px 0px 0px 0px;
}
.ac-box {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    align-items: baseline;
    padding-top: 3px;
}
.ac-box input {
    width: 300px;
}
.ac-box img {
    padding-right: 10px;
}
.ac-box button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.ac-box button:hover {
    color: rgb(0, 149, 246);
    cursor: pointer;
}
.post {
    color: #B3DBFF;
}
@media screen and (max-width: 888px) {
 .ac-box input {
    width: 200px;
}
}
@media screen and (max-width: 735px) {
    .ac-box input {
       width: 320px;
   }
   }
   @media screen and (max-width: 735px) {
    .ac-box input {
       width: 320px;
   }
   }
   @media screen and (max-width: 630px) {
    .ac-box input {
       width: 280px;
   }
   }
   @media screen and (max-width: 560px) {
    .ac-box input {
       width: 230px;
   }
   }
   @media screen and (max-width: 495px) {
    .ac-box input {
       width: 200px;
   }
   }
   @media screen and (max-width: 468px) {
    .ac-box input {
       width: 170px;
   }
   }
   @media screen and (max-width: 420px) {
    .ac-box input {
       width: 150px;
   }
   }
   @media screen and (max-width: 385px) {
    .ac-box input {
       width: 120px;
   }
   }
   @media screen and (max-width: 335px) {
    .ac-box input {
       width: 110px;
   }
   }